<div id="navbar">
        <div class="container">
            <div class="row" style="margin-bottom: .7rem;">
                <div class="menu-row">
                    <div class="five columns">
                         <a class="brand" href="/"><i class="ion ion-android-checkbox-outline"></i> Gift Your Enemies</a>
                    </div>
                    <div class="seven columns">
                        <ul>
                            <li><a href="#evil" class="menu-button">It's Evil</a></li>
                            <li><a href="#faq" class="menu-button">FAQ</a></li>
                            <li><a href="#payment" class="menu-button" style="border:1px solid white;">Buy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>