<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Gift Your Enemies. Wreak Havok.</title>
  <meta name="description" content="Gift your enemies some horribly wonderful things anonymously.">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/ionicons.min.css" rel="stylesheet">   

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/home.css">
    
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50e215880416752d" async="async"></script>

    <div id="navbar">
        <div class="container">
            <div class="row" style="margin-bottom: .7rem;">
                <div class="menu-row">
                    <div class="five columns">
                         <a class="brand" href="/"><i class="ion ion-android-checkbox-outline"></i> Gift Your Enemies</a>
                    </div>
                    <div class="seven columns">
                        <ul>
                            <li><a href="#evil" class="menu-button">It's Evil</a></li>
                            <li><a href="#faq" class="menu-button">FAQ</a></li>
                            <li><a href="#payment" class="menu-button" style="border:1px solid white;">Buy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
  <div class="banner">
      <div class="container">
        <div class="row">
          <div class="twelve columns">
              <center>
            <h4>Be Evil. Wreak Havoc On Your Enemies.</h4>
            <p>We <i>gift</i> your enemies some <i>fun</i> and <i>interesting</i> supplies in their mail <u>anonymously</u> for a good cause.
                <br><br>
            </p>
              </center>
          </div>
        </div>
      </div>
</div>

    <div class="container" style="margin-bottom: -60px;">
        <center><h2>How Does it Work?</h2>
        <div class="row how-p">
            <div class="one-third column">
            <i class="ion-pinpoint how"></i>
                <h5>Pick your enemies.</h5>
                <p>An ex? a boss? a best friend who used you? Great! With our evil process you can send some horrific and completely evil items to your enemies in the mail anonymously!</p>
            </div>
            <div class="one-third column">
            <i class="ion-cube how"></i>
            <h5>Select your weapons.</h5>
            <p>We have a large array of weapons that can get the job done, anywhere from the smell of thousand dead men, the curse of a million annoying peices of glitter, or the mysterious box of pain (for plausible deniability of course). </p>
                
            </div>
            <div class="one-third column">
            <i class="ion-email how"></i>
            <h5>We handle the rest.</h5>
            <p>You've selected the enemy. You've selected the weapons. We send the killing blow. <br>
            <br>We use what you have selected, and send it to your enemies anonymously, anywhere in the world (including mordor*)</p>             
                </center>
            </div>
        </div>
    </div>

<a name="buy" style="padding-bottom:10px;"></a> 
    <br>
    <br><br>
<div class="container weapons" style="width:60%;">
    <center>
            <h3>Weapons ready for use.</h3>
            <p style="margin-bottom: 0;">We have many weapons ready, which will you choose?</p>
            
    </center>
    <div class="row">
       <div class="twelve column">
            <div class="card">
                <div class="card-image image1">
                </div>
                <p><a class="featured">FEATURED</a><strong>The curse of a million annoying peices of glitter.</strong><br>
                Your enemies will bask in the horribleness that is glitter when they open their mail and it spills out rendering them helpless as they spend months of their time ridding themselves of this curse that no potion can cure. + send a letter further taunting them for $2 more</p>

                <a href="#payment"><p class="buy-btn"><i class="ion ion-ios-cart"></i> &nbsp;Buy Now $9</p></a>
            </div>
       </div>
    </div>
      <div class="row">  
       <div class="twelve column">
            <div class="card">
                <div class="card-image image2">
                </div>
                <p><strong>The smell of a thousand dead men (otherwise known as 'shit' or 'poop').</strong><br>
                    Bury your enemies in an aroma that lasts for eternity, a smell so horrible they will be required to puke their guts out upon opening this wonderfully horrific <i>shitty</i> gift of well, shit. + send a letter further enraging them for $2 more</p>
                <a href="#payment"><p class="buy-btn"><i class="ion ion-ios-cart"></i> &nbsp;Buy Now $12</p></a>
            </div>
       </div>
    </div>
    <div class="row">
       <div class="twelve column">
            <div class="card">
                <div class="card-image image3">
                </div>
                <p><a class="featured">NEW</a><strong>The mysterious box of pain.</strong><br>
                    The scariest of all the options. This one will deal a hard blow to your enemy, this is the scariest and most evil of all the options. If you really are wanting to seek revenge or start a war, <i>this is the box to do it.</i> + send a letter further scarying the hell out of them for $2 more
                </p>
               <a href="#payment"><p class="buy-btn"><i class="ion ion-ios-cart"></i> &nbsp;Buy Now $15</p></a>
            </div>
       </div>
    </div>
    <center><p style="margin-bottom: 10px;">+ More weapons soon! Follow our twitter and like us on facebook to stay up to date on our journey to discover new and better weapons!</p></center>
    <div class="border-dash"></div>
            <!-- <div class="row how-p" style="margin-top: -20px;">
            <div class="twelve columns">
            <center><i class="ion-medkit how" style="color:#0074d9;"></i>
                <h5 style="margin-top: -25px;">Be evil for goodness sake.</h5>
                <p>All proceeds help fund the launch of <a href="https://charitydrops.org/">CharityDrops.org</a> an organization whose purpose is to make the world a better place by making it easier to donate to dozens of charities easier and painlessly every month.</p>
           </center>
        </div>
    </div>
-->
</div>
<a name="faq"></a>
    
<div class="container">
    <center>
        <h3>Frequently Asked Questions</h3>
        <p>Trust me we get a lot of questions.</p>
    </center>
    <div class="row">
    <div class="twelve columns">
        <p><strong><i>Do you really send glitter and shit to my enemies?</i></strong><br>
        Yes! If you equip us with an order of either we will send your enemies their very needed gift of shit, or curse of glitter.           </p>
        
        
        <p><strong><i>Are you for real man?</i></strong><br>
        That we are. We are just two guys who decided to send shit and glitter to peoples enemies.
        </p>
        
        
        <p><strong><i>Soooo. What's in the mystery box of pain?</i></strong><br>
        Well, If you really want to find out you should buy one for yourself and find out! (or five because they're all different :))
        </p>
        <p><strong><i>Is it different every time? I want to send it to one of my friends but she has several allergies that are really severe?</i></strong><br>
We <strong>promise</strong> that anything inside the third gift is 100% hypo-allergenic and will not cause any medical or psychological issues as mental and physical health are very important to us!</p>

    <a name='evil'></a>
       <p><strong><i>Okay, honestly how evil would it be if I sent this to my enemy?</i></strong><br>
           Depends on the enemy and their relation to you. If its an ex-boyfriend/girlfriend/husband/wife/cousin/grandparents/parents/uncles/aunts/boss/sister/brother/ogre/troll/dwarf/dudes with freakishly long beards and a staff/elves/harry potter/a weasley/celery/feds/classmates/george bush/hater/sauron/faerie/dragons/admins/mods/the creators of gift your enemies/tom sawyer/huck finn/your teacher from high school/your professor/ or anyone else then <strong>VERY VERY EVIL AND YOU SHOULD DO IT.</strong></p>
        <center><p><strong><i>Should I really do it?</i></strong></p>
        <h1 style="color:#ff4136;">YES.</h1>
        </center>
        
        </div>
    </div>
</div>
    <div class="border-dash"></div>
    
    <a name="payment"></a>
    <center><h3>Payment</h3></center>
    <script type="text/javascript" src="https://secure.jotform.us/jsform/50181975117153"></script>
    
<div class="container footer">
    <div class="row">
        <p>
        &copy; 2015 Gift Your Enemies - If there are any issues please email support at <a href="mailto:giftyourenemies@gmail.com?subject=Gift Your Enemies Support Needed">giftyourenemies@gmail.com</a>.
            <br>
            * if you send it to mordor, they may or may not send it back to you.
            </p>
    </div>
</div>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58607387-1', 'auto');
  ga('send', 'pageview');

</script>
    
</body>
</html>
